* {
    box-sizing: border-box;
}
.container {
    width: 75%;
    display: block;
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px 10px 35px 10px;
}
#quizbox {
    border : 2px solid #293241;
    border-radius: 5px;
}
#question {
    padding: 20px;
}
.choice {
    margin: 5px;
    border : 2px solid #293241;
    border-radius: 5px;
    padding: 10px;
}
#scoreboard {
    border : 2px solid #293241;
    border-radius: 5px;
    margin-top: 10px;
    padding: 35px;
    
}
#start{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width:100px;
    height:150px;
    border : 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:300px;
    top:50px;
    color : lightgrey;
}
#start:hover{
    border: 3px solid lightseagreen;
    color : lightseagreen;
}

